:root {
  --main-font: 'Roboto', sans-serif;
  --main-color: #212121;
  --secondary-color: #757575;
  --logo-color: #000000;
  --accent-color: #2196f3;
  --card-back: rgba(33, 150, 243, 0.9);
  --hero-background-color: #2f303a;
  --btn-text-color: #ffffff;
  --border-color: #afb1b8;
  --social-color: #afb1b8;
  --team-background-color: #f5f4fa;
  --portfolio-btn-back-color: #f5f4fa;
  --border-color: #ececec;
  --footer-social: #44454e;
  --portfolio-border-color: #eeeeee;
  --contacts-link-color: rgba(255, 255, 255, 0.6);
  --color-social-footer: rgba(255, 255, 255, 0.1);
  --img-background: rgba(47, 48, 58, 0.8);
  --timing: cubic-bezier(0.4, 0, 0.2, 1);
  --send-button-back: #188ce8;
  /*########## ICONS COLOR ############*/
  --color-back: transparent;
  --color-social: currentColor;
  --color-clients: currentColor;
  --color-social-footer: currentColor;
  --color-mail: currentColor;
  --color-close: #eaeaea;
  --color-plus: currentColor;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

address {
  font-style: normal;
}

body {
  font-family: var(--main-font);
  color: var(--main-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.header {
  position: relative;
  border-bottom: 1px solid var(--border-color);
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  padding-top: 16px;
  padding-bottom: 16px;
  color: var(--logo-color);
}

.header__logo--accent {
  color: var(--accent-color);
}

.header__menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 2;
}

.header__menu-button .icon-cross {
  display: none;
}

.header__menu-button:hover .icon-cross,
.header__menu-button:focus .icon-cross {
  fill: var(--accent-color);
}

.header__menu-button:hover .icon-menu,
.header__menu-button:focus .icon-menu {
  fill: var(--accent-color);
}

.header__menu-button.is-open .icon-cross {
  display: block;
}

.header__menu-button.is-open .icon-menu {
  display: none;
}

.burger__menu {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
}

.burger__menu.is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--btn-text-color);
}

.nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--main-color);
  -webkit-transition: color 250ms var(--timing);
  transition: color 250ms var(--timing);
}

.nav__link--active {
  color: var(--accent-color);
}

.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}

.contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 64px;
}

.contacts__item--tel {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.contacts__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.contacts__link--tel {
  font-size: 34px;
  color: var(--accent-color);
  margin-bottom: 32px;
}

.contacts__icon {
  display: none;
  fill: var(--secondary-color);
}

.contacts__social-item {
  display: inline-block;
  padding-right: 10px;
  margin-right: 10px;
}

.contacts__social-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.contacts__social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.hero {
  background-color: var(--hero-background-color);
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  max-width: 480px;
  height: 400px;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/overlay/overlay@480.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/overlay/overlay@480.jpg");
  background-size: 480px 400px;
}

@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/overlay/overlay@960.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/overlay/overlay@960.jpg");
  }
}

.hero__title {
  display: inline-block;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--btn-text-color);
  margin-top: 0;
  margin-bottom: 30px;
}

.hero__modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  color: var(--btn-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: var(--accent-color);
  padding: 10px 32px;
}

.quality__item:not(:last-child) {
  margin-bottom: 30px;
}

.quality-card {
  max-width: 450px;
  height: 120px;
  background: var(--portfolio-btn-back-color);
  border-radius: 4px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.quality-card__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}

.quality-card__description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-top: 0;
  margin-bottom: 0;
}

.section-work {
  display: none;
}

.team {
  background-color: var(--team-background-color);
}

.team__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 30px;
}

.team-card {
  max-width: 450px;
  background: var(--btn-text-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card:not(:last-child) {
  margin-bottom: 30px;
}

.team-card__name {
  margin-top: 0;
  margin-bottom: 0px;
}

.team-card__prof {
  margin-top: 0;
  margin-bottom: 0;
}
/*# sourceMappingURL=main.css.map */