.footer {
  background-color: var(--hero-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__info {
  // display: flex;
}
.footer__logo {
  display: flex;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 20px;
  color: var(--btn-text-color);
  // margin-bottom: 20px;

  &--accent {
    color: var(--accent-color);
  }
}
