.footer-social {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 768px) {
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin-top: 10px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 0;
  }
}
.footer-social__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--btn-text-color);
  margin-top: 0;
  margin-bottom: 20px;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}
.footer-social__list {
  display: flex;
  justify-content: center;
}
.footer-social__item:not(:last-child) {
  margin-right: 10px;
}
.footer-social__icon {
  color: var(--footer-social);
  transition: color 250ms var(--timing);

  .footer-social__link:hover > &,
  .footer-social__link:focus > & {
    color: var(--accent-color);
  }
}
