.subscribe {
  display: block;
}
.subscribe__form {
  position: relative;
}
.subscribe__label {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--btn-text-color);
  margin-top: 12px;
  margin-left: 93px;
}
.subscribe__input {
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  margin-top: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  background-color: transparent;

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: var(--contacts-link-color);
  }
}
.subscribe__btn {
  position: absolute;
  bottom: 0;
  right: -212px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  width: 200px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--btn-text-color);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.subscribe__icon {
  margin-left: 10px;
}
