.address__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--contacts-link-color);
  transition: color 250ms var(--timing);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  &--map {
    color: var(--btn-text-color);
  }
}
.address__item {
  text-align: center;
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}
