.footer {
  background-color: var(--hero-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__info {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
  // display: flex;
}
.footer__logo {
  display: flex;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 20px;
  color: var(--btn-text-color);
  // margin-bottom: 20px;

  &--accent {
    color: var(--accent-color);
  }
  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
    justify-content: flex-start;
  }
}
.footer__address {
  @media screen and (min-width: 768px) {
    display: inline-block;
    margin-left: 61px;
    margin-right: 165px;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 70px;
  }
}
