.nav {
  // display: flex;
  // align-items: center;
}

.nav__list {
  @media screen and (min-width: 768px) {
    display: flex;
    margin-right: 84px;
  }
  // display: flex;
  // margin-top: 0;
  // margin-bottom: 0;
}
.nav__item {
  @media screen and (min-width: 768px) {
    position: relative;
  }
  &:not(:last-child) {
    margin-bottom: 32px;
    @media screen and (min-width: 768px) {
      margin-bottom: 0;
      margin-right: 50px;
    }
  }

  // position: relative;
  // &:not(:last-child) {
  //   margin-right: 50px;
  // }
}
.nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--main-color);
  transition: color 250ms var(--timing);
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;
    &--active::after {
      position: absolute;
      bottom: 0;
      left: 0;
      content: '';
      width: 100%;
      height: 4px;
      background-color: var(--accent-color);
      border-radius: 2px;
    }
  }
  // display: block;
  // padding-top: 32px;
  // padding-bottom: 32px;
  &--active {
    color: var(--accent-color);
  }
  // &--active::after {
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   content: '';
  //   width: 100%;
  //   height: 4px;
  //   background-color: var(--accent-color);
  //   border-radius: 2px;
  // }
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
