.header {
  position: relative;
  border-bottom: 1px solid var(--border-color);
}
.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: 768px) {
    align-items: normal;
    justify-content: normal;
  }
}
.header__logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--logo-color);

  padding-top: 16px;
  padding-bottom: 16px;

  &--accent {
    color: var(--accent-color);
  }

  @media screen and (min-width: 768px) {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 88px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }
}
.header__menu-button {
  display: inline-flex;
  z-index: 3;

  margin: 0;
  padding: 0;

  border: none;
  background-color: transparent;

  & .icon-cross {
    display: none;
  }
  &:hover .icon-cross,
  &:focus .icon-cross {
    fill: var(--accent-color);
  }
  &:hover .icon-menu,
  &:focus .icon-menu {
    fill: var(--accent-color);
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.header__menu-button.is-open {
  & .icon-cross {
    display: block;
  }

  & .icon-menu {
    display: none;
  }
}
.burger__menu {
  display: none;
  position: absolute;
  left: 0;
  top: 0;

  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;

  &.is-open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--btn-text-color);
    z-index: 2;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    position: static;
    padding: 0;
    width: auto;
    height: 80px;
  }
}
