.section-work {
  padding-bottom: 94px;
}
.work__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
}
.work__list {
  display: flex;
}
.work__item {
  position: relative;
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.work__img-overlay {
  position: absolute;
  left: 0;
  bottom: 4px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--btn-text-color);

  width: 370px;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: var(--img-background);
}
