.quality {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
}
.quality__item {
  width: 270px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.quality-card {
  width: 270px;
  height: 120px;
  background: var(--portfolio-btn-back-color);
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quality-card__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 0;
  margin-bottom: 10px;
}
.quality-card__description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-top: 0;
  margin-bottom: 0;
}
