.team {
  background-color: var(--team-background-color);
}
.team__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 30px;
}
.team__list {
  // display: flex;
}
