:root {
  --main-font: 'Roboto', sans-serif;
  --main-color: #212121;
  --secondary-color: #757575;
  --logo-color: #000000;
  --accent-color: #2196f3;
  --card-back: rgba(33, 150, 243, 0.9);
  --hero-background-color: #2f303a;
  --btn-text-color: #ffffff;
  --border-color: #afb1b8;
  --social-color: #afb1b8;
  --team-background-color: #f5f4fa;
  --portfolio-btn-back-color: #f5f4fa;
  --border-color: #ececec;
  --footer-social: #44454e;
  --portfolio-border-color: #eeeeee;
  --contacts-link-color: rgba(255, 255, 255, 0.6);
  --color-social-footer: rgba(255, 255, 255, 0.1);
  --img-background: rgba(47, 48, 58, 0.8);
  --timing: cubic-bezier(0.4, 0, 0.2, 1);
  --send-button-back: #188ce8;
  /*########## ICONS COLOR ############*/
  --color-back: transparent;
  --color-social: currentColor;
  --color-clients: currentColor;
  --color-social-footer: currentColor;
  --color-mail: currentColor;
  --color-close: #eaeaea;
  --color-plus: currentColor;
}
